#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ping-pong-container {
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  margin: 20px auto;
  overflow: hidden;
}

.paddle {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: #333;
  transition: top 0.2s;
}

.paddle-left {
  left: 0;
}

.paddle-right {
  right: 0;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transition: top 0.2s, left 0.2s;
}

.paused {
  animation-play-state: paused;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.game-over {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  height: 45vh;
}